<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>transcriptAnalyzer.TestTerm</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testTermisGoodStanding</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testInvalidYear</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddCourseDuplicateTest</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testTermGPA</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testComparator</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddMultipleCourses</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testgetCourses</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testTermisProbation</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testTermisHonors</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNormalConstructor</td>
<td>TestTerm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddCourseMostBasicTest</td>
<td>TestTerm </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
