<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testAddCourseDuplicateTest()[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testAddCourseDuplicateTest</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testAddCourseMostBasicTest()[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testAddCourseMostBasicTest</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testAddMultipleCourses()[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testAddMultipleCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testComparator(transcriptAnalyzer.Term, transcriptAnalyzer.Term, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testComparator</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testInvalidYear()[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testInvalidYear</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testNormalConstructor(transcriptAnalyzer.AcademicQuarter, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testNormalConstructor</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testNormalConstructor(transcriptAnalyzer.AcademicQuarter, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testNormalConstructor</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testNormalConstructor(transcriptAnalyzer.AcademicQuarter, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testNormalConstructor</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testNormalConstructor(transcriptAnalyzer.AcademicQuarter, int)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testNormalConstructor</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermGPA([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermGPA</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>51</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisGoodStanding([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisGoodStanding</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisHonors([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisHonors</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>85</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testTermisProbation([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testTermisProbation</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>17/05/17 10:24:51</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestTerm.testgetCourses([LtranscriptAnalyzer.CompletedCourse;, boolean, boolean, boolean)[pri:0, instance:transcriptAnalyzer.TestTerm@2669b199]">testgetCourses</td> 
  <td>main@1165897474</td>   <td></td> </tr>
</table>
